<div class="card mt-3 shadow border">
    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
            <div class="mb-0 h6">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                     viewBox="0 0 24 24" fill="none" stroke="currentColor"
                     stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-globe mr-2 icon-inline">
                    <circle cx="12" cy="12" r="10"></circle>
                    <line x1="2" y1="12" x2="22" y2="12"></line>
                    <path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4
                                    10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path>
                </svg>Lượt nghe
            </div>
            <span class="text-secondary">241</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
            <div class="m-0 h6">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                     viewBox="0 0 24 24" fill="none" stroke="currentColor"
                     stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-globe mr-2 icon-inline">
                    <circle cx="12" cy="12" r="10"></circle>
                    <line x1="2" y1="12" x2="22" y2="12"></line>
                    <path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4
                                    10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path>
                </svg>Đánh giá
            </div>
            <div class="row m-0">
                <div data-toggle="popover" title="Popover title"
                     data-trigger="focus" tabindex="0"
                     data-content="And here's some amazing content. It's very engaging. Right?">
                    <span class="badge badge-primary">👍 34</span>
                </div>
                <div data-toggle="popover" title="Popover title"
                     data-trigger="focus" tabindex="0"
                     data-content="And here's some amazing content. It's very engaging. njt?">
                    <span class="badge badge-danger">❤️️ 3</span>
                </div>
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
            <div class="mb-0 h6">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                     viewBox="0 0 24 24" fill="none" stroke="currentColor"
                     stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-globe mr-2 icon-inline">
                    <circle cx="12" cy="12" r="10"></circle>
                    <line x1="2" y1="12" x2="22" y2="12"></line>
                    <path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4
                                    10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path>
                </svg>Tải xuống
            </div>
            <a asp-controller="Home"
               asp-action="Download"
               asp-route-id="@Model.Song.Id">
                Xem tại đây
            </a>
        </li>
    </ul>
</div>