@model IEnumerable<Music.Models.Artist>

<div class="modal fade" id="artist-modal" tabindex="-1" role="dialog"
     aria-labelledby="artist-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="artist-modal-label">Ca sĩ</h5>
                <div type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    @{
                        foreach (var artist in Model)
                        {
                            <div class="col-6 mt-3 mb-3 text-center">
                                <a asp-controller="Artist" asp-action="Detail" asp-route-id="@artist.Id">
                                    <img class="bd-placeholder-img rounded-circle shadow p-1 w-75"
                                         style="background-color:deeppink;"
                                         src=@artist.ImageUrl loading="lazy" aria-label="artist" />
                                </a>
                                <h6 class="mt-3">@artist.VietnameseName</h6>
                                <small class="text-secondary">@artist.SimplifiedChineseName</small>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary">Phát tất cả</button>
            </div>
        </div>
    </div>
</div>
