<div class="modal fade" id="error-modal" tabindex="-1" role="dialog"
     aria-labelledby="error-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="song-modal-label">
                    Oops...!
                </h5>
                <div type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </div>
            </div>
            <div class="modal-body">
                Tính năng này chưa khả dụng<br/>
                Quay lại sau nhé bạn tôi ơi~
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>