@model Video
@{ 
    var id = $"zh{ Model.Id }";
}
<div class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="modal" aria-hidden="true" id="@id">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <!--Video-->
            <div class="modal-body mb-0 p-0">
                <div class="embed-responsive embed-responsive-16by9 z-depth-1">
                    <iframe class="embed-responsive-item" allowfullscreen
                            src="https://www.youtube.com/embed/@Model.Id"></iframe>
                </div>
            </div>
            <div class="modal-body">
                <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-lyric-@id" role="tablist">
                        <a class="nav-item nav-link active" role="tab" data-toggle="tab"
                           id="vi-lyric-@id-tab" href="#vi-lyric-@id"
                           aria-controls="vi-lyric-@id" aria-selected="true">Tiếng Việt</a>
                        <a class="nav-item nav-link" role="tab" data-toggle="tab"
                           id="py-lyric-@id-tab" href="#py-lyric-@id"
                           aria-controls="py-lyric-@id" aria-selected="false">Bính âm</a>
                        <a class="nav-item nav-link" role="tab" data-toggle="tab"
                           id="py-lyric-@id-tab" href="#py-lyric-@id"
                           aria-controls="py-lyric-@id" aria-selected="false">Giản thể</a>
                        <a class="nav-item nav-link" role="tab" data-toggle="tab"
                           id="py-lyric-@id-tab" href="#py-lyric-@id"
                           aria-controls="py-lyric-@id" aria-selected="false">Phồn thể</a>
                    </div>

                </nav>
                <div class="tab-content" id="tabContent-lyric-@id">
                    <div class="tab-pane fade show active" role="tabpanel"
                         id="vi-lyric-@id" aria-labelledby="vi-lyric-@id-tab">
                        ...
                    </div>
                    <div class="tab-pane fade" role="tabpanel"
                         id="py-lyric-@id" aria-labelledby="py-lyric-@id-tab">
                        ???
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>