@model IEnumerable<Song>

<div class="modal fade" id="song-modal" tabindex="-1" role="dialog"
     aria-labelledby="song-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="song-modal-label">
                    Bài hát
                </h5>
                <div type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </div>
            </div>
            <div class="modal-body">
                @{
                    int index = 1;
                    foreach (var song in Model)
                    {
                        <a class="row" asp-controller="Song" asp-action="Detail" asp-route-id="@song.Id">
                            <div class="col-sm-2"><h6>@index</h6></div>
                            <div class="col-sm-6 text-dark"><h6>@song.VietnameseName</h6></div>
                            <div class="col-sm-4 text-secondary">@song.SimplifiedChineseName</div>
                        </a>
                        <hr />
                        index++;
                    }
                }
            </div>
            <div class="modal-footer">
                <div class="btn btn-primary">Phát tuần tự</div>
                <div class="btn btn-primary">Phát ngẫu nhiên</div>
            </div>
        </div>
    </div>
</div>
