@model ModalViewModel

<div class="modal fade" id="album-@Model.Id-modal" tabindex="-1" role="dialog"
     aria-labelledby="album-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="album-modal-label">
                    @Model.Title
                </h5>
                <div type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </div>
            </div>
            <div class="modal-body">
                <partial name="~/Views/Shared/Album/Grid.cshtml" model="@Model.Items" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
