<div class="card mt-3 shadow border">
    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between flex-wrap">
            <h6 class="mb-0">
                <i class="bi bi-calendar-date"></i>
                Ngày phát hành
            </h6>
            <span class="text-secondary">Đang cập nhật</span>
        </li>
        <li class="list-group-item d-flex justify-content-between flex-wrap">
            <h6 class="mb-0">
                <i class="bi bi-grid-fill"></i>
                Thể loại
            </h6>
            <span class="text-secondary">Đang cập nhật</span>
        </li>
        <li class="list-group-item d-flex justify-content-between flex-wrap">
            <h6 class="mb-0">
                <i class="bi bi-disc"></i>
                Hãng đĩa
            </h6>
            <span class="text-secondary">Đang cập nhật</span>
        </li>
    </ul>
</div>  