@model IEnumerable<Album>

<div class="card shadow m-3">
    <div class="card-body">
        <div class="row">
            @{
                foreach (var album in Model)
                {
                    <div class="col-6 col-md-4 col-lg-4 mt-3 mb-3 text-center">
                        <a asp-controller="Album" asp-action="Detail" asp-route-id="@album.Id">
                            <img class="shadow p-1 w-75" loading="lazy" 
                                 style="background-color:blue;"
                                 src=@album.ImageUrl 
                                 alt="@album.VietnameseName" />
                        </a>
                        <h6 class="mt-3">@album.VietnameseName</h6>
                        <small>@album.SimplifiedChineseName</small>
                    </div>
                }
            }
        </div>
        <div class="btn btn-primary float-right"
             data-toggle="modal" data-target="#album-modal">
            Xem tất cả
        </div>
    </div>
</div>
