@model IEnumerable<Music.Models.Artist>

    <div class="card shadow m-3">
        <div class="card-body">
            <div class="row">
                @{
                    foreach (var artist in Model)
                    {
                        <div class="col-md-4 mt-2 mb-2 text-center">
                            <a asp-controller="Home" asp-action="Artist" asp-route-id="@artist.Id">
                                <img class="bd-placeholder-img rounded-circle shadow p-1 w-75" 
                                     src=@artist.ImageUrl loading="lazy" aria-label="artist" />
                            </a>
                            <h5 class="mt-3">@artist.VietnameseName</h5>
                            <small>@artist.SimplifiedChineseName</small>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
