@model IEnumerable<Song>

<div class="card shadow m-3">
    <div class="card-body">
        @{
            int index = 1;
            foreach (var song in Model)
            {
                <a class="row" asp-controller="Song" asp-action="Detail" asp-route-id="@song.Id">
                    <div class="col-sm-1"><h6>@index</h6></div>
                    <div class="col-sm-6 text-dark"><h6>@song.Name.Vietnamese</h6></div>
                    <div class="col-sm-5 text-secondary">@song.Name.SimplifiedChinese</div>
                </a>
                <hr />
                index++;
            }
        }
        <div>
            <div class="btn btn-primary float-right"
                 data-toggle="modal" data-target="#song-modal">
                Xem tất cả
            </div>
        </div>
    </div>
</div>