<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Zither Harp Music</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" aria-current="page" href="/">
                    <img alt="zhmusic-logo" src="~/logo.png">
                </a>
                <button class="navbar-toggler" type="button"
                        data-toggle="collapse" data-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex font-weight-bold justify-content-end">
                    <ul class="navbar-nav flex-grow-0">
                        <li class="nav-item">
                            <a class="nav-link text-primary"
                               data-toggle="modal" data-target="#error-modal">BÀI HÁT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-primary" 
                               asp-controller="Artist" asp-action="Index">CA SĨ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-primary" 
                               asp-controller="Album" asp-action="Index">ALBUM</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-primary"
                               data-toggle="modal" data-target="#error-modal">VIDEO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-primary"
                               data-toggle="modal" data-target="#error-modal">THỂ LOẠI</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-primary"
                               data-toggle="modal" data-target="#error-modal">BẢNG XẾP HẠNG</a>
                        </li>
                        <li>
                            <input type="search" class="form-control form-control-dark"
                                   placeholder="Bài hát, ca sĩ, album..." aria-label="Search">
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-primary dropdown-toggle mr-md-2"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">NGÔN NGỮ</a>
                            <div class="dropdown-menu dropdown-menu-right shadow" aria-labelledby="bd-versions">
                                <a class="dropdown-item disabled"
                                   asp-area="" asp-controller="Home" asp-action="Index">English</a>
                                <a class="dropdown-item active"
                                   asp-area="" asp-controller="Home" asp-action="Index">Tiếng Việt</a>
                                <a class="dropdown-item disabled"
                                   asp-area="" asp-controller="Home" asp-action="Index">中文（简体）</a>
                                <a class="dropdown-item disabled"
                                   asp-area="" asp-controller="Home" asp-action="Index">中文（繁体）</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <partial name="~/Views/Shared/Modal/Error.cshtml" />
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container text-right">
            <a style="float:left">&copy; @DateTime.Now.Year - Zither Harp Music</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
