@model IEnumerable<Music.Models.Artist>

<div class="row text-center p-3">
    @{
        foreach (var artist in Model)
        {
            <div class="col-lg-3 p-3" style="height:75%;">
                <a asp-controller="Home" asp-action="Artist" asp-route-id="@artist.Id">
                    <img class="bd-placeholder-img rounded-circle shadow p-1" width="150" height="150"
                         src=@artist.ImageUrl loading="lazy" aria-label="artist" />
                </a>
                <h4 class="p-3">@artist.VietnameseName</h4>
                <p>@artist.SimplifiedChineseName</p>
            </div>
        }
    }
</div>
