@model NavigationViewModel

<div class="card shadow m-3">
    <div class="card-body">
        @{
            int index = 1;
            foreach (var item in Model.Items)
            {
                <div class="row" id="dropdown" data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false">
                    <div class="col-sm-1">
                        <h6>@index</h6>
                    </div>
                    <div class="col-sm-6">
                        <h6>@item.VietnameseName</h6>
                    </div>
                    <div class="col-sm-5 text-secondary">
                        @item.SimplifiedChineseName
                    </div>
                    <ul class="dropdown-menu shadow">
                        <li><div class="dropdown-item" type="button" data-toggle="modal" data-target="#exampleModal">Phát</div></li>
                        <li><a class="dropdown-item" href="#">Tải xuống</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Chia sẻ</a></li>
                    </ul>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />

                index++;
            }
        }
        <partial name="~/Views/Shared/Partial/Pagination.cshtml" model="@Model" />
    </div>
</div>