@model NavigationViewModel

<div class="card shadow m-3">
    <div class="card-body">
        @{
            int index = 1;
            foreach (var item in Model.Items)
            {
                <div class="row">
                    <div class="col-sm-1">
                        <h6>@index</h6>
                    </div>
                    <div class="col-sm-6">
                        <h6>@item.VietnameseName</h6>
                    </div>
                    <div class="col-sm-5 text-secondary">
                        @item.SimplifiedChineseName
                    </div>
                </div>
                <hr />
                index++;
            }
        }
        <partial name="~/Views/Shared/Partial/Pagination.cshtml" model="@Model" />
    </div>
</div>