@model NavigationViewModel
@{
    if (Model.Items.Count > 0)
    {
        <nav aria-label="nav page">
            <ul class="pagination justify-content-center mt-3">
                <li class="page-item disabled">
                    <a class="page-link">&laquo;</a>
                </li>
                @{
                    for (int i = 1; i <= Model.PageCount; i++)
                    {
                        <li class="page-item active">
                            <span class="page-link">
                                @i
                                <span class="sr-only">(current)</span>
                            </span>
                        </li>
                    }
                }
                <li class="page-item">
                    <a class="page-link" href="#">&raquo;</a>
                </li>
            </ul>
        </nav>
    }
}