@{
    ViewData["Title"] = "Trang chủ";
}

<div class="container">
    <div id="carouselHomeIndicators" class="carousel slide"
         data-interval="5000" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carouselHomeIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselHomeIndicators" data-slide-to="1"></li>
            <li data-target="#carouselHomeIndicators" data-slide-to="2"></li>
        </ol>
        <!-- Banners -->
        <div class="carousel-inner">
            <h3 class="pb-2 border-bottom text-center">ĐỀ XUẤT CHO BẠN</h3>
            <header class="d-flex justify-content-center py-2">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">About</a></li>
                </ul>
            </header>
            <div class="carousel-item active">
                <div class="row py-3">
                    <div class="col-3">
                        <div class="card shadow-sm">
                            <img data-holder-rendered="true" src="https://y.qq.com/music/photo_new/T002R300x300M000000pokjs2sL02o.jpg?max_age=2592000" />
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card shadow-sm">
                            <img data-holder-rendered="true" src="https://y.qq.com/music/photo_new/T002R300x300M000000pokjs2sL02o.jpg" />
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card shadow-sm">
                            <img data-holder-rendered="true" src="https://y.qq.com/music/photo_new/T002R300x300M000000pokjs2sL02o.jpg?max_age=2592000" />
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card shadow-sm">
                            <img data-holder-rendered="true" src="https://y.qq.com/music/photo_new/T002R300x300M000000pokjs2sL02o.jpg?max_age=2592000" />
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row py-3">
                    <div class="col-3">
                        <div class="card shadow-sm">
                            <img data-holder-rendered="true" src="https://y.qq.com/music/photo_new/T002R300x300M000000pokjs2sL02o.jpg?max_age=2592000" />
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card shadow-sm">
                            <img data-holder-rendered="true" src="https://y.qq.com/music/photo_new/T002R300x300M000000pokjs2sL02o.jpg" />
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card shadow-sm">
                            <img data-holder-rendered="true" src="https://y.qq.com/music/photo_new/T002R300x300M000000pokjs2sL02o.jpg?max_age=2592000" />
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card shadow-sm">
                            <img data-holder-rendered="true" src="https://y.qq.com/music/photo_new/T002R300x300M000000pokjs2sL02o.jpg?max_age=2592000" />
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Control buttons -->
        <a class="carousel-control-prev" href="#carouselHomeIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="false"></span>
            <span class="sr-only"></span>
        </a>
        <a class="carousel-control-next" href="#carouselHomeIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="false"></span>
            <span class="sr-only"></span>
        </a>
    </div>
</div>
